.login__container {
  display: grid;
  grid-template-areas: "area1" "area2";
  border: 1px solid red;
}

.login__container--cover {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  display: grid;
  grid-area: area1;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid red;
}

.login__container--form {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  display: grid;
  grid-area: area2;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid red;
}