.container {
  display: grid;
  grid-template-areas: "area1" "area2";
}

.container__cover {
  display: grid;
  grid-area: "area1";
  border: 1px solid red;
}

.container__form {
  display: grid;
  grid-area: "area2";
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid red;
}

.container__cover--transform {
  width: 110%;
  height: auto;
  transform: rotate(4deg) translate(-30px, -10.8px);
  border-bottom-right-radius: 40px;
  background-color: #EF3340;
}