$area1: 'area1';
$area2: 'area2';
$color: #EF3340;

.container {
	display: grid;
	grid-template-areas: $area1
	                     $area2;
}

.container__cover {
	display: grid;
	grid-area: $area1;
	grid-template-columns: repeat(2, 1fr);
}

.container__cover--transform {
	grid-column: 1 / 3;
  width: 110%;
  height: auto;
  transform: rotate(4deg) translate(-48px, -10.8px);
  border-bottom-right-radius: 40px;
	background-color: $color;
	display: flex;
}

.container__form {
	display: grid;
	grid-area: $area2;
	grid-template: repeat(12, 1fr) / repeat(12, 1fr);
}

.container__form--grid {
	grid-column: 2 / 12;
	grid-row: 2 / 12;
}