$color: #494F66;
$color2: #EF3340;
$color3: #676F8F;

.container__title {
	margin: 0;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.2px;	
	color: $color;
}

.container__title--bold {
	color: $color2;
}

.container__subtitle {
  font-size: 16px;
  line-height: 28px;
	color: $color3;
}

.container__section {
	display: grid;
	// grid-template-columns: repeat(12, 1fr);
	// grid-template-rows: repeat(12, 1fr);
}

