.header {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(12, 1fr);
  height: 56px;
  border-bottom: 1px solid #FC606B;
  box-sizing: border-box;
  z-index: 99;
}

.header__img {
  height: 16px;
  grid-column: 2;
  grid-row: 2/3;
}