$color: #E4E8F7;
$color2: #676F8F;

.footer {
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(11, 1fr);
  height: 76px;
	box-sizing: border-box;
	border-top: 1px solid $color;
}

.footer__text {
	grid-column: 2 / 9;
	grid-row: 2 / 3;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0.2px;
	color: $color2;
	margin: 0;
}