$color1: #EF3340;
$color2: #FFFFFF;

.app {
  display: grid;
	grid-template-rows: 56px 1fr 76px;
	grid-template-areas: 'area1' 
											 'area2' 
											 'area3'
}
.app__header {
	grid-area: area1;
	background-color: $color1;
}

.app__body {
	grid-area: area2;
	background-color: $color2;
}

.app__footer {
	background-color: lightcoral;
	grid-area: area3;
}



